<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css"
  integrity="sha512-nIm/JGUwrzblLex/meoxJSPdAKQOe2bLhnrZ81g5Jbh519z8GFJIWu87WAhBH+RAyGbM4+U3S2h+kL5JoV6/wA=="
  crossorigin="anonymous"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"
  integrity="sha512-+m6t3R87+6LdtYiCzRhC5+E0l4VQ9qIT1H9+t1wmHkMJvvUQNI5MKKb7b08WL4Kgp9K0IBgHDSLCRJk05cFUYg=="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

<style>
  button.select-solution-btn {
    width: 100%;
    padding: 13px 0;
    border-radius: 4px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    outline: none;
    background: #00bac6;
    border:none;
  }
  .power-white-popup {
    position: relative;
    background: #fff;
    padding: 0px;
    width: auto;
  }
  .mfp-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
    margin-bottom: -1px;
  }
  @media (max-width: 749px) {
    .mfp-wrap {
      overflow: hidden !important;
    }
    button.select-solution-btn  {
      position: fixed;
      bottom: 0;
      margin-bottom: 0;
      z-index: 998;
      left: 0;
    }
  }
  @media (min-width: 749px) {
    .mfp-wrap {
      overflow-y: hidden !important;
    }
    .mfp-container {
      width: 50%;
      height: 100%;
      top: unset;
      left: unset;
      right: 0;
      bottom: 0;
      top: 0;
    }
    .child-one {
      height: 100vh;
    }
    .child-one-qty {
      height: 100vh;
    }
    .mfp-close-btn-in .mfp-close {
      color: #333;
      margin: 5px;
    }
  }

  .loader {
    height: 50px;
    width: 50px;
    border: 8px solid #00bac6;
    border-radius: 50%;
    border-top: 8px solid #fff;
    opacity: 1;
    margin: 0 auto;
    /*     margin-top: 20%; */
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .loader-text {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 20px;
  }

  .loader-main {
    /*     position: fixed; */
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    opacity: 1;
  }
  .loader-main p {
    height: 100px;
    width: 100px;
  }
</style>

<div id="solution-popup" class="power-white-popup mfp-hide power-content">
  <div class="child-one"></div>
  <div class="child-one-qty"></div>
</div>
<button class="select-solution-btn">Buy Now</button>

<script>
  // ********************** popup for solution products & Accessories ******************* //
  let product_type = "{{ product.type }}";
  console.log(product_type);
  var solution_variant_id = 0;
  $(document).on("click", ".select-solution-btn", function () {
    // $('#solution-popup').find(".child-one").show();
    $("#solution-popup").find(".child-one").html(`     
              <div class="loader-div loader-main">
              <p class="loader"></div>
              <div class="loader-text">Please wait...</div>
  		</div>`);
    $(".child-one-qty").hide();

    let data_sku =  '{{ product.variants[0].sku }}';    
      solution_variant_id =   '{{ product.variants[0].id }}'
    //   collection_handle =  $(this).parents('.select-power-parent').attr('data-collection-handle');   
      let product_title =  '{{ product.title }}';
      let product_image =  '{{ product.featured_image | product_img_url: "master" }}';
      let product_price = '{{ product.price }}';
      let product_vendor = '{{  product.vendor }}';
      product_type = "{{ product.type }}";


      //           GA events
      let displayMode = 'browser';
          const mqStandAlone = '(display-mode: standalone)';
          if (navigator.standalone || window.matchMedia(mqStandAlone).matches || navigator.userAgent.toLowerCase().includes('wv')) {
            displayMode = 'standalone';
            dataLayer.push({
              'event': 'pdpBuyNow_pwa',
              'productType':product_type,
              'productTitle':product_title,
              'productPrice':product_price/100
            })
          }else{
            dataLayer.push({
              'event': 'pdpBuyNow',
              'productType':product_type,
              'productTitle':product_title,
              'productPrice':product_price/100
            })
          } 
          //          events end



    if (data_sku) {
      var solQty = 0;
      let sss = 0;
      var settings = {
        // "url": `https://api.lenskart.com/juno-inventory/products/${data_sku}/inventory?storeid=1`,
        url: `https://api-gateway.juno.lenskart.com/v2/inventory/products/${data_sku}/inventory?storeid=1`,
        method: "GET",
        timeout: 0,
        headers: {
          "X-Session-Token": "12345",
        },
      };

      $.ajax(settings).done(function (response) {
        solQty = response.result.quantity;

        let solutionQty = "";
        let qty_info = "";
        let qtyLessThan10 = "";
        if (solQty <= 0) {
          solutionQty =
            '<input type="number" id="not-zero"  min="0" class="qty-boxes check-btn"  disabled  placeholder="Out of Stock">';
        } else {
          solutionQty =
            '<input type="number" id="not-zero" class="qty-boxes" data-quantity="' +
            solQty +
            '" placeholder="Enter No. of Boxes.">';
        }
        if (solQty > 0 && solQty <= 10) {
          qtyLessThan10 = `Max quantity up to ${solQty}`;
        }

        let solution_content = "";
        let solution_body = "";
        solution_content += '<div class="quantity-flex in-stock not-validate">';
        solution_content += '<div class="product-image-solution">';
        solution_content += '<img src="' + product_image + '">';
        solution_content += "</div>";
        solution_content += '<div class="product-title">';
        solution_content += product_title;
        solution_content += "</div>";
        solution_content += '<div class="product-boxes">';
        solution_content += solutionQty;
        solution_content += qty_info;
        solution_content +=
          '<div class="max-qty-msg">' + qtyLessThan10 + "</div>";
        solution_content += "</div>";
        solution_content += "</div>";

        solution_body += '<div class="solution-heading select-heading-icon">';
        solution_body +=
          '<h2 class="heading">Enter Number Of Boxes<span class="active-no"></span></h2>';
        if (product_type == "Solution") {
          solution_body += '<h3 id="solution-power" class="pow-content"></h3>';
        }
        solution_body += "</div>";
        solution_body += '<hr class="select-hr">';
        solution_body += '<div class="quantity-form">';
        solution_body += solution_content;
        solution_body += "</div>";
        solution_body += '<hr class="select-hr hr-none">';
        solution_body +=
          '<div class="buy-or-cart" data-product-vendor="' +
          product_vendor +
          '">';
        solution_body +=
          '<button class="buy-now"><span id="button_text">Buy Now</span></button>';
        solution_body +=
          '<button class="cart-now cart-now-style"><span id="button_text">Add to Cart</span></button>';
        solution_body += "</div>";

        $(".child-one").html(solution_body);
        $(".child-one").attr("data-variant");
        $(".buy-now").prop("disabled", true);
        $(".cart-now").prop("disabled", true);
        $(".product-boxes .qty-boxes").keyup(function () {
          $(".buy-now").prop("disabled", this.value == "" ? true : false);
          $(".cart-now").prop("disabled", this.value == "" ? true : false);
        });

        $("#not-zero").on("input", function () {
          if (/^-/.test(this.value)) {
            this.value = this.value.replace(/^-/, "");
          }
        });

        $(".qty-boxes").on("input", function () {
          let $this = $(this);
          var value = $this.val();
          let data_qty = $this.attr("data-quantity");
          $this.parent().find(".max-qty-msg").hide();
          if (value !== "" && value.indexOf(".") === -1) {
            if (data_qty) {
              $this.val(Math.max(Math.min(value, data_qty - 1), 1));
            }
            if (value >= data_qty - 1) {
              $this
                .parent()
                .find(".max-qty-msg")
                .html("Max quantity up to " + (data_qty - 1))
                .show();
              setTimeout(function () {
                $this.parent().find(".max-qty-msg").fadeOut();
              }, 2000);
            }
          }
        });
      });
    }
    let popup = $("#solution-popup");
    customPopUp(popup);
  });

  // ********************** end *********************//

// add to cart information 
const notyf = new Notyf({
      duration: 1000,
      position: {
        x: 'center',
        y: 'top',
      },
      types: [
        {
          type: 'info',
          background: '#00BAC6',
          icon: false
        }
      ]
    });  
    
//     function to validate vendor [ differentiation of products vendor ]
    function valiadateVendor(product_vendor) {
      return new Promise(resolve => {        
        $.ajax({
          url : '/cart.js',
          type: 'GET',
          dataType: 'JSON',
          success:function(data){
            console.log(data);
            let line_item_vendor ='';
            if(data.items.length != 0){
              line_item_vendor = data.items[0].vendor;
            }           
            if(data.items.length != 0 && (line_item_vendor != product_vendor)){
              resolve(false)
            } 
            resolve(true)
          }
        })
      })
    }
        
    
//     function to add in cart
    function addedToCart(finalData,action,variantData,total_price){
      $.ajax({
        url : '/cart/add.js',
        type: 'POST',
        dataType: 'JSON',
        data : {items:finalData},
      })
      .done(function(response){ 

        notyf.open({
          type: 'info',
          message: "*Added into the cart"
        });

      })
      .done(function(){
        if(action == "addToCart"){
          setTimeout(function () { 
            $.magnificPopup.close();
          },1000);
          $.ajax({
            url : '/cart.js',
            type: 'POST',
            dataType: 'JSON',
            success:function(response){ 
              if(window.screen.width <= 749){
                $('.cart-count').html(response.item_count);
              }
              else{
                $('.cart-count').html("("+response.item_count+")");
              }
            }
          })
          //            clevertap events
          clevertap.event.push("AddedInCart", {
            "Category":product_type,
            "VariantId":variantData.toString(),
            "CartValue":total_price,
          });
        //   //           GA events
          let displayMode = 'browser';
          const mqStandAlone = '(display-mode: standalone)';
          if (navigator.standalone || window.matchMedia(mqStandAlone).matches || navigator.userAgent.toLowerCase().includes('wv')) {
            displayMode = 'standalone';
            dataLayer.push({
              'event': 'AddedInCart_pwa',
              "Category":product_type,
              "VariantId":variantData.toString(),
              "CartValue":total_price,
            })
          }else{
            dataLayer.push({
              'event': 'AddedInCart',
              "Category":product_type,
              "VariantId":variantData.toString(),
              "CartValue":total_price,
            })
          } 
          //          events end
        }

        else if(action=="buyNow"){
          setTimeout(function () { 
            window.location.href = '/cart';
          }, 1000); 

          //           GA events
          let displayMode = 'browser';
          const mqStandAlone = '(display-mode: standalone)';
          if (navigator.standalone || window.matchMedia(mqStandAlone).matches || navigator.userAgent.toLowerCase().includes('wv')) {
            displayMode = 'standalone';
            dataLayer.push({
              'event': 'buy-now_pwa',
              "Category":product_type,
              "VariantId":variantData.toString(),
              "CartValue":total_price,
            })
          }else{
            dataLayer.push({
              'event': 'buy-now',
              "Category":product_type,
              "VariantId":variantData.toString(),
              "CartValue":total_price,
            })
          } 
          //          events end
        }
      })

    }

//     Adding in cart

    $(document).on('click', '.cart-now', async function(){   
      //adding loader after this button click
      let thisButton = $(this);
      thisButton.attr('disabled',true).css('background','#00BAC6');
      thisButton.find("#button_text").html(`Adding &nbsp;{% render 'loading-bullets'%}`);           
      //end 
      
      let product_vendor = $(this).parent('.buy-or-cart').attr('data-product-vendor'); 
      let product_vendor2 = "";
      if(product_vendor.includes("Aqualens")){
        product_vendor2 = "Johnson & Johnson";
      }else{
        product_vendor2 = "Aqualens";
      }
      
      let flagV = await valiadateVendor(product_vendor);
//       console.log(flagV);
      let finalData = [];
      let total_price = 0;
      let variantData = [];

      $('.power-white-popup:not(.mfp-hide) .quantity-flex.in-stock:not(.quantity-flex-all)').each(function(){
        let flexData = {};
        let getElement = $(this);
        let getQty = getElement.find('.qty-boxes').val() || 0;
        let getPrice = getElement.find('.qty-boxes').attr("data-product-price");
        let getSelect;
        if(product_type == 'Solution'){
          getSelect ="";
        }else{
          getSelect = getElement.find('.pow-content').text() || getElement.find('.pow-content-sph option:selected').text() || "0.00";
        }
        let getSelectCYL = getElement.find('.pow-content-cyl option:selected').text();
        let getSelectAxis = getElement.find('.pow-content-axis option:selected').text();
        let getVariant = $('.child-one-qty').attr('data-variant') || getElement.find('.color-info').attr('data-id-color') || getElement.find('.color-info-power').attr('data-id-color') || solution_variant_id;
        let sku =  $('.select-power-parent').attr('data-sku') || getElement.find('.color-info').attr('data-sku-color') || getElement.find('.color-info-power').attr('data-sku-color');

        total_price = total_price+(getPrice*getQty);
        sku = parseInt(sku);
        let getProperties = {
          'power': getSelect,
          'cyl': getSelectCYL,
          'axis': getSelectAxis,
        }

        flexData.sku = sku;
        flexData.quantity = getQty;
        flexData.id= getVariant;
        flexData.properties= getProperties;
        finalData.push(flexData);
        variantData.push(getVariant);

      })

      if(Object.keys(finalData).length){
        if(flagV == false){
          let check = confirm(`Your cart contains ${product_vendor2} products. On adding ${product_vendor} products, the previous items will be removed. Do you wish to continue?`);
          if(check == false){
            setTimeout(function () { 
              $.magnificPopup.close();
            },1000);
          }else{
            $.ajax({
              url : '/cart/clear.js',
              type: 'POST',
              dataType: 'JSON',
              success:function(response){ 
                if(response){                  
                  addedToCart(finalData,"addToCart",variantData,total_price);
                }
              }
            })
          }
        }
        else{
          addedToCart(finalData,"addToCart",variantData,total_price);
        }
      }
    })  
    
//     Adding and Buying products

    $(document).on('click', '.buy-now',async function(){
      //adding loader after this button click
      let thisButton = $(this);
      thisButton.attr('disabled',true).css('background','#00BAC6');
      thisButton.find("#button_text").html(`Adding &nbsp;{% render 'loading-bullets' %}`);           
      //end 
      let product_vendor = $(this).parent('.buy-or-cart').attr('data-product-vendor'); 
      let product_vendor2 = "";
      if(product_vendor.includes("Aqualens")){
        product_vendor2 = "Johnson & Johnson";
      }else{
        product_vendor2 = "Aqualens";
      }    
      let flagV = await valiadateVendor(product_vendor);
      let finalData = [];
      let total_price = 0;
      let variantData = [];
      $('.power-white-popup:not(.mfp-hide) .quantity-flex.in-stock:not(.quantity-flex-all)').each(function(){
        let flexData = {};
        let getElement = $(this);
        let getQty = getElement.find('.qty-boxes').val() || 0;
        let getPrice = getElement.find('.qty-boxes').attr("data-product-price");
        let getSelect;
        if(product_type == 'Solution'){
          getSelect ="";
        }else{
          getSelect = getElement.find('.pow-content').text() || getElement.find('.pow-content-sph option:selected').text() || "0.00";
        }
        let getSelectCYL = getElement.find('.pow-content-cyl option:selected').text();
        let getSelectAxis = getElement.find('.pow-content-axis option:selected').text();
        let getVariant = $('.child-one-qty').attr('data-variant') || getElement.find('.color-info').attr('data-id-color') || getElement.find('.color-info-power').attr('data-id-color') || solution_variant_id;
        let sku =  $('.select-power-parent').attr('data-sku') || getElement.find('.color-info').attr('data-sku-color') || getElement.find('.color-info-power').attr('data-sku-color');
        total_price = total_price+(getPrice*getQty);
        sku = parseInt(sku);

        let getProperties = {
          'power': getSelect,
          'cyl': getSelectCYL,
          'axis': getSelectAxis,
        }

        flexData.sku = sku;
        flexData.quantity = getQty;
        flexData.id= getVariant;
        flexData.properties= getProperties;
        finalData.push(flexData);        
        variantData.push(getVariant);

      })

      if(flagV == false){
        let check = confirm(`Your cart contains ${product_vendor2} products. On adding ${product_vendor} products, the previous items will be removed. Do you wish to continue?`);
        if(check == false){
          setTimeout(function () { 
            $.magnificPopup.close();
          },1000);
        }else{

          $.ajax({
            url : '/cart/clear.js',
            type: 'POST',
            dataType: 'JSON',
            success:function(response){ 
              if(response){
                if(Object.keys(finalData).length){
                  addedToCart(finalData,"buyNow",variantData,total_price);
                }
              }
            }
          })
        }
      }
      else{
        if(Object.keys(finalData).length){
          addedToCart(finalData,"buyNow",variantData,total_price);
        }
      }


    })


//     end

</script>
