<style>
  .added_nav{
    top:30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgb(0 0 0 / 15%), 0 1px 4px rgb(0 0 0 / 8%);
    border: 0;
  }
  .nav__mobile--show{
    display:none;
  }

  @media(max-width:749px){
    .nav__mobile--show{
      display:block;
    }
    .nav_desktop--show{
      display:none !important;
    }
  }
  .account-menu{
    display:none;
    width: 270px;
    height: auto;
    position: absolute;
    right: 8px;
    top: 12px;
    z-index: 999;
   
  }
  
  .my__name--number {
    text-align: left;
    text-transform: capitalize;
  }
  .site-nav__item-hover{
    border-radius:20px;
    position:relative;
  }
  h2.sign__warning {
    display: none;
    width: 100%;
    text-transform: capitalize;
    color: #ef7474;
    padding: 10px;
  }
  .sign__style {
    background: #00BAC6;
    color: white;
  }
  @media(min-width:749px){
    .grid__width{
      width:30% !important;
    }
  }
</style>
{% if section.settings.message %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}


  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or request.page_type == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.color_bg }};
        }
        .announcement-bar__message {
          color: {{ section.settings.color_text }};
             text-transform: inherit;
        }
      </style>  
  
        <div class="announcement-bar">
          <div class="page-width page-announcement-bar">
            <div class="announcement-bar--left">
                <div class="announcement-bar__message">{{ section.settings.message_text }}</div>
            </div>
            <div class="announcement-bar--right">
              {% assign message = section.settings.message_texts %}
              {% if message != blank %}
              <div class="announcement-bar--right--link mmlink1"><a href="{{ section.settings.message_link }}" class="announcement-bar--link">{{ message }}</a></div>
              {% endif %}
              {% if customer %}
              {% for tag in customer.tags %}
              {% if tag contains 'shopName' %}
              {% assign shopName = tag | split: "_" |last %}
              {% endif %}
              {% endfor %}
              <div class="site-nav__item-hover">
                <div class="announcement-bar--right--link mmlink2"><a href="/account"><span><img src="{{ 'user.png' | asset_img_url }}" /></span>Hi, <span class="customer-name"> {% if shopName %}{{shopName}}{% else %} &nbsp;Aqua partner{% endif %}</span></a></div>
                <div class="account-menu">
                  {% render 'account-navigation' %}
                </div>
              </div>
              {% else %}
              <div class="announcement-bar--right--link mmlink2"><a href="/account/login"><span><img src="{{ 'user.png' | asset_img_url }}" /></span>SIGN IN</a></div>
              {% endif %}
              <div class="announcement-bar--right--link mmlink3"><a href="/cart"><span><img src="{{ 'cart-icon.png' | asset_img_url }}" /></span>CART<span class="cart-count">({{ cart.item_count }})</span></a></div>
            </div>
          </div>
        </div>       
      

    {% endif %}
  {% endif %}

{% if template contains 'cart' or template.suffix contains 'freePrd' or template.suffix contains 'ar-filter' or template.suffix contains 'retailer-dashboard' or template.suffix contains 'order-reports' or template.suffix contains 'order-details' or template.suffix contains 'orders' or template.name contains 'order' or template.suffix contains 'tax-statement' or template.suffix contains 'tax-request' or template.suffix contains 'transactions' or template.suffix contains 'customer' %}

<div class="nav__mobile--show">
  <div class="cart__header">
    <div class="cart__header-icon">
      <button onclick="history.back()" style="border:none;background:white;outline:none;">
        <img src="https://cdn.shopify.com/s/files/1/0291/0417/7212/files/Vector_d5278b25-dd24-415c-a4a0-e7054ded05cd.png?v=1617650787">
      </button>
    </div>
    <div class="cart-head">
      {% if template.suffix == 'orders' or template.name == 'order'%}
      <span class="cart__heading">My Orders</span>
      {% elsif template.suffix contains 'freePrd'%}
      <span class="cart__heading">Free Products</span>
      {% elsif template.suffix contains 'ar-filter'%}
      <span class="cart__heading">AR Filter</span>
      {% elsif template.suffix contains 'retailer-dashboard'%}
      <span class="cart__heading">Retailer Dashboard</span>
      {% elsif template.suffix contains 'order-details'%}
      <span class="cart__heading">My Orders</span>
      {% elsif template.suffix contains 'order-reports'%}
      <span class="cart__heading">My Order Reports</span>
      {% elsif template.suffix contains 'tax-statement' or template.suffix contains 'tax-request' %}
      <span class="cart__heading">Tax Statement</span>
      {% elsif template.suffix contains 'transactions' %}
      <span class="cart__heading">My Transactions</span>
      {% elsif template.suffix == 'customer-orders' or template.suffix == 'customer-order-details'%}
      <span class="cart__heading">Customer Orders</span>
      {% elsif template.suffix == 'customer-details' or template.suffix == 'customer-products'%}
      <span class="cart__heading">Place A New Order</span>
      {% elsif template contains 'cart' %}
      <span class="cart__heading">Your Cart</span>
      {% endif %}
    </div>

    {% if template contains 'cart' %}

    <div class="cart__help">
      <a href="#test-popup" class="help-popup-link">
        <span class="help-heading">HELP?</sapn>
      </a>
    </div>  

    {% comment %} Cart page header For mobile view 
    <div class="cart-desktop-none">
      <div class="cart__header">
        <div class="car__header-icon">
          <a href="https://aqualensb2b.com/collections/all">
            <img src="https://cdn.shopify.com/s/files/1/0291/0417/7212/files/left-arrow.png?v=1615392090">
          </a>
          <span class="cart__heading">Your Cart</span>
        </div>
        <div class="cart__help">
          <a href="#test-popup" class="help-popup-link">
            <span class="help-heading">HELP?</sapn>
          </a>
        </div>  
      </div>
    </div>


    <div class="cart__header cart-mobile-none">
      <div class="cart__page-logo">
        <a href="https://aqualensb2b.com">
          <img src="https://cdn.shopify.com/s/files/1/0291/0417/7212/files/Logo_94d32f64-bec3-4424-ad93-764b398410bb.png?v=1620733099">
        </a>
        <a href="https://aqualensb2b.com">
          <img src="https://cdn.shopify.com/s/files/1/0291/0417/7212/files/Retailer_App.png?v=1620733084">
        </a>
      </div>
      <div class="header-login-and-cart">
        {% if customer %}
        {% for tag in customer.tags %}
        {% if tag contains 'shopName' %}
        {% assign shopName = tag | split: "_" | last %}
        {% endif %}
        {% endfor %}
        <div class="aqua-header-link mmHeaderlink"><a href="/account" class="site-nav__item-hover"><img src="{{ 'Vector_2.png' | asset_img_url }}" /><span class="customer-name"> {% if shopName %}{{shopName}}{% else %} &nbsp;Aqua partner{% endif %}</span></a></div>
        {% else %}
        <div class="aqua-header-link mmHeaderlink"><a href="/account/login"><img src="{{ 'Vector_2.png' | asset_img_url }}" />&nbsp;&nbsp;Login</a></div>
        {% endif %}
        <div class="header-pipe"></div>
        <div class="aqua-header-link mmHeaderlink2"><a href="/cart"><img src="{{ 'Vector_3.png' | asset_img_url }}" />&nbsp;&nbsp;Cart<span class="cart-count">({{ cart.item_count }})</span></a></div>
      </div>
    </div>
    {% endcomment %}



    {% else %}

    <div class="{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %} mobile-cart ">

      <div class="header__cart">
        <a href="/cart">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <path d="M7.25277 0.75C6.98333 0.75 6.71413 0.853582 6.50863 1.05908L5.75277 1.81494H8.75277L7.99691 1.05908C7.79141 0.853582 7.52221 0.75 7.25277 0.75ZM11.0028 0.75C10.7333 0.75 10.4641 0.853582 10.2586 1.05908L9.50277 1.81494H12.5028L11.7469 1.05908C11.5414 0.853582 11.2722 0.75 11.0028 0.75ZM2.55941 1.81494L1.25423 1.8252C1.15495 1.82464 1.05655 1.84381 0.964732 1.88158C0.872914 1.91935 0.789507 1.97497 0.719349 2.04522C0.649191 2.11547 0.593678 2.19895 0.556027 2.29081C0.518377 2.38268 0.499339 2.48111 0.500018 2.58039C0.500696 2.67967 0.521078 2.77782 0.559981 2.86917C0.598884 2.96051 0.655533 3.04322 0.726645 3.11251C0.797757 3.18179 0.881916 3.23626 0.974242 3.27277C1.06657 3.30928 1.16522 3.3271 1.26449 3.3252L2.06722 3.31934L4.53695 9.24609L3.639 10.6816C3.01024 11.6857 3.77478 13.0649 4.95882 13.0649H13.2528C13.3522 13.0663 13.4508 13.048 13.5431 13.0109C13.6353 12.9739 13.7192 12.9188 13.79 12.8491C13.8608 12.7793 13.917 12.6961 13.9553 12.6044C13.9937 12.5127 14.0134 12.4143 14.0134 12.3149C14.0134 12.2155 13.9937 12.1171 13.9553 12.0255C13.917 11.9338 13.8608 11.8506 13.79 11.7808C13.7192 11.711 13.6353 11.656 13.5431 11.619C13.4508 11.5819 13.3522 11.5635 13.2528 11.5649H4.95882C4.87537 11.5649 4.86575 11.5485 4.91048 11.477C4.91097 11.4771 4.91146 11.4771 4.91195 11.477L5.79378 10.0649H11.3939C11.9384 10.0649 12.4409 9.76922 12.7049 9.29297L15.4061 4.42822C15.6843 3.92872 15.3228 3.31494 14.7513 3.31494H3.69027L3.25814 2.27637C3.20075 2.1387 3.10362 2.02127 2.97915 1.93908C2.85469 1.85689 2.70855 1.81367 2.55941 1.81494ZM5.00277 13.8149C4.60494 13.8149 4.22341 13.973 3.94211 14.2543C3.6608 14.5356 3.50277 14.9171 3.50277 15.3149C3.50277 15.7128 3.6608 16.0943 3.94211 16.3756C4.22341 16.6569 4.60494 16.8149 5.00277 16.8149C5.40059 16.8149 5.78212 16.6569 6.06343 16.3756C6.34473 16.0943 6.50277 15.7128 6.50277 15.3149C6.50277 14.9171 6.34473 14.5356 6.06343 14.2543C5.78212 13.973 5.40059 13.8149 5.00277 13.8149ZM12.5028 13.8149C12.1049 13.8149 11.7234 13.973 11.4421 14.2543C11.1608 14.5356 11.0028 14.9171 11.0028 15.3149C11.0028 15.7128 11.1608 16.0943 11.4421 16.3756C11.7234 16.6569 12.1049 16.8149 12.5028 16.8149C12.9006 16.8149 13.2821 16.6569 13.5634 16.3756C13.8447 16.0943 14.0028 15.7128 14.0028 15.3149C14.0028 14.9171 13.8447 14.5356 13.5634 14.2543C13.2821 13.973 12.9006 13.8149 12.5028 13.8149Z" fill="#4F4F4F"/>
            </svg></span>
          <span class="cart-count"> {{ cart.item_count }}</span>
        </a>
      </div>
    </div>
    {% endif %}

  </div>
</div>

<div data-section-id="{{ section.id }}" data-section-type="header-section" class="nav_desktop--show">
  {% if section.settings.message %}
  {% if section.settings.home_page_only == false or request.page_type == 'index' %}
  <style>
    .announcement-bar {
      background-color: {{ section.settings.color_bg }};
    }
    .announcement-bar__message {
      color: {{ section.settings.color_text }};
      text-transform: inherit;
    }
  </style>    
  <div class="announcement-bar">
    <div class="page-width page-announcement-bar">
      <div class="announcement-bar--left">
        <div class="announcement-bar__message">{{ section.settings.message_text }}</div>
      </div>
      <div class="announcement-bar--right">
        {% assign message = section.settings.message_texts %}
        {% if message != blank %}
        <div class="announcement-bar--right--link mmlink1"><a href="{{ section.settings.message_link }}" class="announcement-bar--link">{{ message }}</a></div>
        {% endif %}
        {% if customer %}
        {% for tag in customer.tags %}
        {% if tag contains 'shopName' %}
        {% assign shopName = tag | split: "_" |last %}
        {% endif %}
        {% endfor %}
        <div class="site-nav__item-hover">
          <div class="announcement-bar--right--link mmlink2"><a href="/account"><span><img src="{{ 'user.png' | asset_img_url }}" /></span>Hi, <span class="customer-name"> {% if shopName %}{{shopName}}{% else %} &nbsp;Aqua partner{% endif %}</span></a></div>
          <div class="account-menu">
            {% render 'account-navigation' %}
          </div>
        </div>
        {% else %}
        <div class="announcement-bar--right--link mmlink2"><a href="/account/login"><span><img src="{{ 'user.png' | asset_img_url }}" /></span>SIGN IN</a></div>
        {% endif %}
        <div class="announcement-bar--right--link mmlink3"><a href="/cart"><span><img src="{{ 'cart-icon.png' | asset_img_url }}" /></span>CART<span class="cart-count">({{ cart.item_count }})</span></a></div>
      </div>
    </div>
  </div>             
  {% endif %}
  {% endif %}
  
  <div class="page-width header-pg">
    <header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
      <div class="grid__item {% if section.settings.align_logo == 'left' %}medium-up--one-half{% else %}medium-up--one-third medium-up--push-one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">
          {% include 'search-form' %}
        </div>-->

          {% if shop.customer_accounts_enabled %}
          {%comment%}{% if customer %}
          <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
            {% include 'icon-login' %}
            <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
          </a>
          {% else %}
          <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
            {% include 'icon-login' %}
            <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
          </a>
          {% endif %}{%endcomment%}
          {% endif %}

          {% unless linklists[section.settings.main_linklist1] == blank %}
          <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
            {% include 'icon-hamburger' %}
            {% include 'icon-close' %}
          </button>
          {% endunless %}
        </div>

      </div>
	
    <div class="grid grid--no-gutters grid--table site-header__mobile-nav">
      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third medium-up--push-one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-half logo-align--left' -%}
      {% endif %}

      <div class="grid__item {{ logo_classes }}">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if request.page_type == 'index' %}
          <h1 class="h2 site-header__logo">
        {% else %}
          <div class="h2 site-header__logo">
        {% endif %}
          {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="{{ routes.root_url }}" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   src="{{ section.settings.logo | img_url: '300x300' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
            Retailer app
            {% else %}
            <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
          {% endif %}
        {% if request.page_type == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      
      
  
     {% if customer %}
      {% if section.settings.align_logo == 'left' %}     
        <nav class="grid__item medium-up--three-quarter hidden-tablet-up" id="AccessibleNav" role="navigation">
          {% include 'site-nav', linklist: section.settings.main_linklist1 %}
        </nav>     
      {% endif %}
  {% endif %}
    </div>
    
    
    <nav class="mobile-nav-wrapper " role="navigation">
      <ul id="MobileNav" class="mobile-nav">
        {% for link in linklists[section.settings.main_linklist].links %}
          {%- assign outerLoopIndex = forloop.index -%}

          <li class="mobile-nav__item style{% unless forloop.last %} border-bottom{% endunless %}">
            {% if link.links != blank %}
              {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
              <button type="button" class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}" data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
                <div class="mobile-nav__icon">
                  {% include 'icon-chevron-right' %}
                </div>
              </button>
              <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
                <li class="visually-hidden" tabindex="-1" data-menu-title="2">
                  {{- link.title }} {{ 'layout.navigation.menu' | t -}}
                </li>
                <li class="mobile-nav__item border-bottom">
                  <div class="mobile-nav__table">
                    <div class="mobile-nav__table-cell mobile-nav__return">
                      <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button" aria-expanded="true" aria-label="{{ link.title }}">
                        {% include 'icon-chevron-left' %}
                      </button>
                    </div>
                    <span class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                      <span class="mobile-nav__label">{{ link.title | escape }}</span>
                    </span>
                  </div>
                </li>

                
                {% if customer %}
                
                {% for childlink in link.links %}
                  <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                  
                    {% if childlink.links != blank %}
                      {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
                      <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                        <div class="mobile-nav__icon">
                          {% include 'icon-chevron-right' %}
                        </div>
                      </button>
                      <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                        <li class="visually-hidden" tabindex="-1" data-menu-title="3">
                          {{- childlink.title }}{{ 'layout.navigation.menu' | t -}} 
                        </li>
                        <li class="mobile-nav__item border-bottom">
                          <div class="mobile-nav__table">
                            <div class="mobile-nav__table-cell mobile-nav__return">
                              <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}" aria-expanded="true" aria-label="{{ childlink.title }}">
                                {% include 'icon-chevron-left' %}
                              </button>
                            </div>
                            <a href="{{ childlink.url }}"
                              class="mobile-nav__sublist-link mobile-nav__sublist-header"
                              {% if childlink.current %} aria-current="page"{% endif %}
                            >
                              <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                            </a>
                          </div>
                        </li>
                        {% for grandchildlink in childlink.links %}
                          <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                            <a href="{{ grandchildlink.url }}"
                              class="mobile-nav__sublist-link"
                              {% if grandchildlink.current %} aria-current="page"{% endif %}
                            >
                              <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <a href="{{ childlink.url }}"
                        class="mobile-nav__sublist-link"
                        {% if childlink.current %} aria-current="page"{% endif %}
                      >
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
                {% else %}
                <h2 class="sign__warning">You must be logged in to know about account and place an order</h2>
                <a href="/account/login" class="mobile-nav__link sign__style" aria-current="page">
                  <span class="mobile-nav__label">Sign In</span>
                </a>                
                {% endif %}
                
              </ul>
            {% else %}
            
            {% assign linkName = link.title | downcase %}  
            {% assign varified = false %}
            {% if  linkName == 'catalog'%}
              {% if customer %}
                <a href="/collections/all"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
            	{% else %}
            	<a href="/account/login"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
              {% endif %}
            {% elsif  linkName == 'customer orders'%}
              {% if customer %}
                <a href="{{ link.url }}"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
            	{% else %}
            	<a href="/account/login"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
              {% endif %}
            {% else %}
            <a href="{{ link.url }}"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
            {% endif %}
            
            
              
            {% endif %}
          </li>
           
        {% endfor %}
        {% if customer %}
            <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
             
              <a href="/account" class="mobile-nav__link {% if link.active %} mobile-nav__link--active{% endif %}" aria-current="page">
                <span class="mobile-nav__label">Hi, {% if shopName %}{{shopName}}{% else %} &nbsp;Aqua partner {% endif %}</span>
              </a>
            </li>
        {% else %}
          <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
            <a href="/account/login" class="mobile-nav__link {% if link.active %} mobile-nav__link--active{% endif %} " aria-current="page">
                <span class="mobile-nav__label">Sign In</span>
              </a>
          </li>
        {% endif %}
        {% if shop.enabled_currencies.size > 1 %}
          <li class="mobile-nav__item border-top">
            {% form 'currency', class: "currency-selector" %}
              <label for="CurrencySelectorMobile" class="currency-selector__label">{{ 'general.currency.dropdown_label' | t }}</label>
              <div class="currency-selector__input-wrapper select-group">
                <select name="currency" id="CurrencySelectorMobile" class="currency-selector__dropdown" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-currency-selector>
                  {% for currency in shop.enabled_currencies %}
                    <option value="{{currency.iso_code}}"{% if currency == cart.currency %} selected="true"{% endif %}>{{currency.iso_code}}</option>
                  {% endfor %}
                </select>
                {% include 'icon-chevron-down' %}
              </div>
            {% endform %}
          </li>
        {% endif %}
      </ul>
    </nav>
    <div class="grid__item {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third medium-up--push-one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %} mobile-cart">
      <div class="announcement-bar--right--link mmlink3 "><a href="/cart"><span><img src="{{ 'cart-b.png' | asset_img_url }}" /></span><span class="cart-count"> {{ cart.item_count }}</span></a></div>
           
    </div>
  </header>
  </div>



{% else %}
<div data-section-id="{{ section.id }}" data-section-type="header-section">

  
  <div class="page-width header-pg">
  <header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
   <div class="grid__item {% if section.settings.align_logo == 'left' %}medium-up--one-half{% else %}medium-up--one-third medium-up--push-one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">
          <!--<div class="site-header__search site-header__icon">
            {% include 'search-form' %}
          </div>-->

          {% if shop.customer_accounts_enabled %}
            {%comment%}{% if customer %}
              <a href="{{ routes.account_url }}" class="site-header__icon site-header__account">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
              </a>
            {% else %}
              <a href="{{ routes.account_login_url }}" class="site-header__icon site-header__account">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
              </a>
            {% endif %}{%endcomment%}
          {% endif %}

          {% unless linklists[section.settings.main_linklist1] == blank %}
            <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
              {% include 'icon-hamburger' %}
              {% include 'icon-close' %}
            </button>
          {% endunless %}
        </div>

      </div>
	
    <div class="grid grid--no-gutters grid--table site-header__mobile-nav">
      {% if section.settings.align_logo == 'center' %}
        {%- assign logo_classes = 'medium-up--one-third medium-up--push-one-third logo-align--center' -%}
      {% else %}
        {%- assign logo_classes = 'medium-up--one-half logo-align--left' -%}
      {% endif %}

      <div class="grid__item {{ logo_classes }} grid__width">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        {% if request.page_type == 'index' %}
          <h1 class="h2 site-header__logo">
        {% else %}
          <div class="h2 site-header__logo">
        {% endif %}
          {% if section.settings.logo %}
            {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <a href="{{ routes.root_url }}" class="site-header__logo-image{% if section.settings.align_logo == 'center' %} site-header__logo-image--centered{% endif %}">
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   src="{{ section.settings.logo | img_url: '300x300' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   style="max-width: {{ section.settings.logo_max_width }}px">
              <noscript>
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     style="max-width: {{ section.settings.logo_max_width }}px;">
              </noscript>
            </a>
            Retailer app
            {% else %}
            <a class="site-header__logo-link" href="{{ routes.root_url }}">{{ shop.name }}</a>
          {% endif %}
        {% if request.page_type == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      
      
  
     {% if customer %}
      {% if section.settings.align_logo == 'left' %}     
        <nav class="grid__item medium-up--three-quarter hidden-tablet-up" id="AccessibleNav" role="navigation">
          {% include 'site-nav', linklist: section.settings.main_linklist1 %}
        </nav>     
      {% endif %}
  {% endif %}
    </div>
    
<!--    Mobile Navigation  -->
    
    <nav class="mobile-nav-wrapper " role="navigation">
      <ul id="MobileNav" class="mobile-nav">
        {% for link in linklists[section.settings.main_linklist].links %}
          {%- assign outerLoopIndex = forloop.index -%}

          <li class="mobile-nav__item site-nav__link--event--mobile event--{{ link.title | replace: " ", "_"  }}{% unless forloop.last %} border-bottom{% endunless %}" data-title="{{ link.title | escape }}">
            {% if link.links != blank %}
              {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
              <button type="button" class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}" data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
                <div class="mobile-nav__icon">
                  {% include 'icon-chevron-right' %}
                </div>
              </button>
              <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
                <li class="visually-hidden" tabindex="-1" data-menu-title="2">
                  {{- link.title }} {{ 'layout.navigation.menu' | t -}}
                </li>
                <li class="mobile-nav__item border-bottom">
                  <div class="mobile-nav__table">
                    <div class="mobile-nav__table-cell mobile-nav__return">
                      <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button" aria-expanded="true" aria-label="{{ link.title }}">
                        {% include 'icon-chevron-left' %}
                      </button>
                    </div>
                    <span class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                      <span class="mobile-nav__label">{{ link.title | escape }}</span>
                    </span>
                  </div>
                </li>

                
                {% if customer %}
                
                {% for childlink in link.links %}
                  <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                    {% if childlink.links != blank %}
                      {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
                      <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                        <div class="mobile-nav__icon">
                          {% include 'icon-chevron-right' %}
                        </div>
                      </button>
                      <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                        <li class="visually-hidden" tabindex="-1" data-menu-title="3">
                          {{- childlink.title }} {{ 'layout.navigation.menu' | t -}}
                        </li>
                        <li class="mobile-nav__item border-bottom">
                          <div class="mobile-nav__table">
                            <div class="mobile-nav__table-cell mobile-nav__return">
                              <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}" aria-expanded="true" aria-label="{{ childlink.title }}">
                                {% include 'icon-chevron-left' %}
                              </button>
                            </div>
                            <a href="{{ childlink.url }}"
                              class="mobile-nav__sublist-link mobile-nav__sublist-header"
                              {% if childlink.current %} aria-current="page"{% endif %}
                            >
                              <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                            </a>
                          </div>
                        </li>
                        {% for grandchildlink in childlink.links %}
                          <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                            <a href="{{ grandchildlink.url }}"
                              class="mobile-nav__sublist-link"
                              {% if grandchildlink.current %} aria-current="page"{% endif %}
                            >
                              <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <a href="{{ childlink.url }}"
                        class="mobile-nav__sublist-link"
                        {% if childlink.current %} aria-current="page"{% endif %}
                      >
                        <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
                {% else %}
                <h2 class="sign__warning">You must be logged in to know about account and place an order</h2>
                <a href="/account/login" class="mobile-nav__link sign__style" aria-current="page">
                  <span class="mobile-nav__label">Sign In</span>
                </a>                
                {% endif %}
                
              </ul>
            {% else %}
            
            {% assign linkName = link.title | downcase %}  
            {% assign varified = false %}
            {% if  linkName == 'catalog'%}
              {% if customer %}
                <a href="/collections/all"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
            	{% else %}
            	<a href="/account/login"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
              {% endif %}
            {% elsif  linkName == 'customer orders'%}
              {% if customer %}
                <a href="{{ link.url }}"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
            	{% else %}
            	<a href="/account/login"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
              {% endif %}
            {% else %}
            <a href="{{ link.url }}"
                class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                {% if link.current %} aria-current="page"{% endif %}
              >
                <span class="mobile-nav__label">{{ link.title | escape }}</span>
              </a>
            {% endif %}
            
            
              
            {% endif %}
          </li>
           
        {% endfor %}
        {% if customer %}
            <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
             
              <a href="/account" class="mobile-nav__link {% if link.active %} mobile-nav__link--active{% endif %}" aria-current="page">
                <span class="mobile-nav__label">Hi, {% if shopName %}{{shopName}}{% else %} &nbsp;Aqua partner {% endif %}</span>
              </a>
            </li>
        {% else %}
          <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
            <a href="/account/login" class="mobile-nav__link {% if link.active %} mobile-nav__link--active{% endif %} " aria-current="page">
                <span class="mobile-nav__label">Sign In</span>
              </a>
          </li>
        {% endif %}
        {% if shop.enabled_currencies.size > 1 %}
          <li class="mobile-nav__item border-top">
            {% form 'currency', class: "currency-selector" %}
              <label for="CurrencySelectorMobile" class="currency-selector__label">{{ 'general.currency.dropdown_label' | t }}</label>
              <div class="currency-selector__input-wrapper select-group">
                <select name="currency" id="CurrencySelectorMobile" class="currency-selector__dropdown" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-currency-selector>
                  {% for currency in shop.enabled_currencies %}
                    <option value="{{currency.iso_code}}"{% if currency == cart.currency %} selected="true"{% endif %}>{{currency.iso_code}}</option>
                  {% endfor %}
                </select>
                {% include 'icon-chevron-down' %}
              </div>
            {% endform %}
          </li>
        {% endif %}
      </ul>
    </nav>
    <div class="grid__item {% if section.settings.align_logo == 'left' %}medium-up--one-quarter{% else %}medium-up--one-third medium-up--push-one-third{% endif %} text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %} mobile-cart">
      <div class="announcement-bar--right--link mmlink3 "><a href="/cart"><span><img src="{{ 'cart-b.png' | asset_img_url }}" /></span><span class="cart-count"> {{ cart.item_count }}</span></a></div>
           
    </div>
  </header>
  </div>

  {% endif %}
 
  {% if section.settings.align_logo == 'center' %}
  <nav class="small--hide border-bottom" id="AccessibleNav" role="navigation">
    {% include 'site-nav', linklist: section.settings.main_linklist, wrapper_class: 'site-nav--centered' %}
  </nav>
  {% endif %}
</div>

<style>
 .white-popup  {
    position: relative;
    background: #FFF;
    padding: 20px;
    border-radius:5px;
    width:94%;
    max-width: 500px;
    margin: 20px auto;
  }
</style>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
        
    
</script>


{% endif %}



<script>
  $(function () {
    $(".site-nav__item-hover").hover(function () {
      $('.account-menu').slideToggle("100");
    }, function () {
      $(".account-menu").hide();
    });
  }); 
</script>


{% schema %}
{
  "name": "Header",
  "settings": [
	{
      "type": "radio",
      "id": "align_logo",
      "label": "Logo alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width", 
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Mobile Menu",
      "default": "main-menu"
    },
 	{
      "type": "link_list",
      "id": "main_linklist1",
      "label": "Menu", 
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": "Show announcement",
      "default": false
    },
	{
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "html",
      "id": "message_text",
      "label": "Custom HTML",
      "default": "Announce something here"
    },
	{
      "type": "text",
      "id": "message_texts",
      "label": "Message Text"
    },
    {
      "type": "url",
      "id": "message_link",
      "label": "Link",
      "info": "Optional"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Bar", 
      "default": "#7796a8"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#fff"
    }
  ]
}
{% endschema %}
